<article>
  {%- assign post_class = post.id | replace: '/', '-' | prepend: 'post' -%}
  <h1{% if post.image %} class="{{ post_class }}"{% endif %}><a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}" title="{{ post.title }}">{{ post.title }}</a></h1>
  {%- if post.image -%}
  <style>
    main .center-content article h1.{{ post_class }} {
      background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('{{ post.image }}');
    }
    main .center-content article h1.{{ post_class }}:focus,
    main .center-content article h1.{{ post_class }}:hover {
      background-image: linear-gradient(rgba(255, 255 ,255, .80), rgba(255, 255 ,255, .80)), url('{{ post.image }}');
    }
  </style>
  {%- endif -%}
  <div class="post-meta">
    <time datetime="{{ post.date | date: "%-d %b %Y" }}" class="date"><i class="far fa-calendar-alt"></i>&nbsp;{{ post.date | translated_date: page.lang, "%-d %b %Y" }}</time>
    {%- if post.categories != blank -%}
    &#8226; <span class="series">{{ site.data.locales[page.lang].series }}: {% for category in post.categories %}<a href="{{ site.baseurl }}series/#{{ category }}"><i class="fas fa-signature"></i>&nbsp;{{ category }}</a> {%- endfor -%}</span>
    {% endif %}
    {%- if post.tags.size != blank -%}
    &#8226; <span class="tags">{{ site.data.locales[page.lang].tags }}: {% for tag in post.tags %}<a href="{{ site.baseurl }}tags/#{{ tag }}"><i class="fas fa-tag"></i>&nbsp;{{ tag }}</a> {% endfor %}</span>
    {%- endif -%}
  </div>
  {%- unless skip_content -%}
  {%- if excerpt_only -%}{{ post.excerpt }}{% else %}{{ content }}{%- endif -%}
  {%- endunless -%}
</article>
